.delicious {
  float: left;
  border: 3px solid green;
  /* display: inline-block; */
}
.icons {
  float: right;
  border: 2px solid red;
}

#top-header {
  display: block;
}
main {
  clear: both;
  margin-top: 50px;
}
